/* ПРЕИМУЩЕСТВА */
.benefits {
    display: flex;
    align-items: center;
    padding-top: 94px;
}

.benefits__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__item {
    width: 270px;
}

/* список иконок в преимуществах */
.benefits__item::before {
    content: '';
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
}

.benefits__item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.benefits__item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.benefits__item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__title {
    margin-bottom: 10px;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-color);
}

.benefits__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
}