/* КЛИЕНТЫ */
.clients {
    background-color: inherit;
}

.clients .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clients__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__item {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--link-active-color);
    color: var(--link-active-color);
    outline: transparent;
}

/* цвет иконок клиентов*/
.clients__icon {
    display: block;
    fill: currentColor;
}