$main-color: #fff;
$heading-color: #212121;
$card-title-color: #212121;
$description-color: #757575;
$accent-color: #2196f3;
$link-active-color: #2196f3;
$button-back-color: #2196f3;
$button-color: #fff;
$button-active-color: #188ce8;
$footer-back-color: #2f303a;
$modal-label-color: #757575;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);